
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
<iframe title="Packages" src="https://app.powerbi.com/view?r=eyJrIjoiZWNmZDVmYjctMDE5My00ZWQyLThmNWItMWY0MmQ5N2Q2NWZmIiwidCI6IjMzNGNjNzRjLTQ5YzQtNGFlZC1iMzM1LTU4YzA4MzI4YjE4YiIsImMiOjl9&pageName=ReportSection" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0%;left:0px;right:0px;bottom:0px;"  scrolling="auto" allowFullScreen="true"></iframe>
</body>
