
@{
    ViewBag.Title = "ForgetPassword";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = null;
}

<head>
    <title>Şifremi Unuttum - TYH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/login/css/style.css" rel="stylesheet" />
    @*<link href="~/content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/content/bootstrap.css" rel="stylesheet" />*@
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
</head>

@*<h4 style="margin-left:80px" class="modal-title">ŞİFREMİ UNUTTUM !</h4>*@

<body class="img js-fullheight" style="background-image: url('../../Content/login/images/LoginPanel.png');">
    <section class="ftco-section">
        <div style="text-align:center">
            <img src="~/Web/TYH greybackground.png" style="width:180px; height:90px;" />
        </div><br />
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Şifremi Unuttum !</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">

                        <form method="post" action="/LoginPanel/ForgetPassword">

                            <div style="text-align:center">
                                <label>
                                    <b>
                                        Kişisel Bilgilerini Doğrulayıp Yeni Şifreni Tekrarla
                                    </b>
                                </label><br /><br />



                                @Html.TextBox("SicilNo", null, new { @class = "form-control", placeholder = "Sicil Numarassı", type = "number" })
                                <br />
                                @Html.TextBox("TC", null, new { @class = "form-control", placeholder = "Tc Kimlik Numarası", type = "number" })
                                <br />
                                @Html.TextBox("Sifre", null, new { @class = "form-control", placeholder = "Yeni Şifre", type = "password" })
                                <br />
                                @Html.TextBox("Tekrar", null, new { @class = "form-control", placeholder = "Tekrar Yeni Şifre", type = "password" })
                                <br />
                                <br />

                                <button type="submit" class="form-control" style="background-color: #ee7600">Şifremi Yenile</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/login/js/jquery.min.js"></script>
    <script src="~/Content/login/js/main.js"></script>
</body>
