
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<form method="post" class="form-group">
    <div id="kargoTakip" class="kargoTakip">
        <h3>Kargo Numarasını Giriniz</h3>
        <input type="text" class="form-control" name="KargoNumarası" />
        <div style="margin-top:10px">

            <button type="button" class="btn btn-primary">Gönder</button>
        </div>
    </div>

    <div>
       
    </div>

</form>